{% load staticfiles %}
<div id="control-container">
    <div class="box-2 inline-block">
        <div class="box-2 color-2" style="height: 13%"></div>
        <div class="box-2 color-3" style="height: 87%"></div>
    </div>
    <div class="inline-block" id="upload-tool">
        <div>
            <div class="font-2" id="control-title"></div>
            <div class="font-3" id="control-subtitle"></div>
        </div>
        <div class="control-button-div" id="control-button-div">
            <label id="button-label" style="color: black"></label>
        </div>
    </div>
</div>
