{% load staticfiles %}
<div class="line-3"></div>
<div class="detection-block">
    <div id="detection_container" style="width: max-content; height: 100%;">
        <div class="position-block1">
            <img src="{% static "main/img/design_box1.png" %}">
        </div>
        <div class="position-block1 left-border default-match-block"></div>
        <div class="position-block1 left-border default-match-block"></div>
        <div class="position-block1 left-border default-match-block"></div>
        <div class="position-block1 left-border default-match-block"></div>
        <div class="position-block1 left-border default-match-block"></div>
    </div>
</div>
<div id="detection_end_block"><img src="{% static "main/img/design_box2.png" %}"></div>