{% load staticfiles %}
<div class="design-block4">
    <div class="design-buttons" id="design-buttons-left">
        <div class="design-buttons-component"><img src="{% static "main/img/ring_circle.png" %}">
        </div>
        <div class="design-buttons-component spin-left speed-median"><img
                src="{% static "main/img/ring_middle.png" %}">
        </div>
        <div class="design-buttons-component"><img src="{% static "main/img/spin_text3.png" %}">
        </div>
    </div>
    <div class="design-buttons" id="design-buttons-middle">
        <div class="design-buttons-component spin-left speed-slow"><img
                src="{% static "main/img/ring_outer.png" %}">
        </div>
        <div class="design-buttons-component spin-right speed-median"><img
                src="{% static "main/img/ring_middle.png" %}">
        </div>
        <div class="design-buttons-component spin-left speed-fast"><img
                src="{% static "main/img/ring_inner.png" %}">
        </div>
        <div class="design-buttons-component"><img src="{% static "main/img/spin_text2.png" %}">
        </div>
    </div>
    <div class="design-buttons" id="design-buttons-right">
        <div class="design-buttons-component spin-right speed-slow"><img
                src="{% static "main/img/ring_outer.png" %}">
        </div>
        <div class="design-buttons-component spin-left speed-median"><img
                src="{% static "main/img/ring_middle.png" %}">
        </div>
        <div class="design-buttons-component"><img src="{% static "main/img/spin_text1.png" %}">
        </div>
    </div>
</div>