{% load staticfiles %}
<div id="upload-container">
    <div class="box-2 inline-block">
        <div class="box-2 color-2" style="height: 13%"></div>
        <div class="box-2 color-3" style="height: 87%"></div>
    </div>
    <div class="inline-block" id="upload-tool">
        <div>
            <div class="font-2">IMAGE UPLOAD</div>
            <div class="font-3">Upload a image with one face.</div>
        </div>
        <div id="upload-button-div">
            <label for="file-upload" id="custom-file-upload" style="color: black">
                Upload
            </label>
        </div>
        <input id="file-upload" type="file" onchange="loadImg(this);" hidden/>
    </div>
</div>
<div class="upload-img-container border-1">
    <div class="center-parent" id="snap_image-container">
        <div class="scan-overlay scan-annimation" style="display:none;"></div>
        <img class="center" id="snap_image" src="{% static "main/img/default_img.gif" %}">
        <div id="default-overlay"></div>
    </div>
</div>