<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Face Recognition</title>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="{% static 'main/js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/icon/plane.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}">

    {% block header %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="">Face Recognition</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="enrollment" href="{% url 'main-enrollment_site' %}">Enrollment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="recognition" href="{% url 'main-recognition_site' %}">Recognition</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script>
    var path = $(location).attr('href').split("/").pop();
    console.log(path)
    if (path == "") {
        $('#enrollment').addClass("active");
    } else {
        $('#' + path).addClass("active");
    }
</script>

</body>

</html>
