{% extends "main/base.html" %}

{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" href="{% static 'main/css/enrollment.css' %}">
    <script src="{% static 'main/js/enrollment.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="content upper">
        <div class="content upload_tools">
            <div id="upload_button_div">
                <label for="file-upload" id="custom-file-upload">
                    Image Upload
                </label>
            </div>
        </div>

        <input id="file-upload" type="file" onchange="loadImg(this);" hidden/>
        <div class="content upper upload_image" id="upload_image">
            <img id="snap_image">
        </div>

    </div>
    <div class="content lower">
        <form class="center" name="info_form" id="info_form" action={% url 'main-recognition_site' %} method="POST">
            <table id="info_table">
                <tr>
                    <td>First name:</td>
                    <td><input type="text" name="fname"><br></td>
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td><input type="text" name="lname"><br></td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td><input type="text" name="age"><br></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><textarea name="description" form="info_form">Enter description here...</textarea>
                </tr>
            </table>
            <input name="img_holder" hidden>
            <br>
            {% csrf_token %}
        </form>
        <button type="button" class="button" id="submit_form"
                onclick="submitform(this)">Submit
        </button>
    </div>
{% endblock %}
