{% extends "main/base.html" %}

{% load staticfiles %}
{% block header %}
    <style>
        .success {
            top: 200px;
            position: relative;
            padding: 50px 100px;
            text-align: center;
        }

        .container {
            min-height: 40rem;
        }
    </style>
{% endblock %}
{% block content %}

    <div class="content center_parent">
        <div class="center border-1 success">
            <h3>
                Successfully Enrolled.
            </h3>
            <a href="{% url "main-enrollment_site" %}">
                Start another enrollment.
            </a>
        </div>
    </div>

{% endblock %}
