html {
    background-image: url("/static/main/img/background.png");
    background-color: black;
    color: white;
    min-width: 600px;
}

body {
    font-weight: lighter;
    background-color: transparent;
    color: white;
}

.navbar-custom * {
    color: #FFFFFF !important;
    background-color: transparent;
    margin: 2px 5px 2px 10px;
}


.container {
    max-width: 1300px;
    min-width: 800px;
}

.center_parent {
    vertical-align: middle;
    display: inline-flex;
    width: 100%;
}

.center {
    margin: auto;
    width: max-content;
}

.white_border {
    border: solid 1px white;
}

.active {
    font-weight: bold;
}

.button {
    background-color: transparent;
    color: white;
    font-weight: lighter;
}