.container {
    width: 1440px;
}

.content {
    height: 42rem;
    min-width: 1200px;
}

.content-left {
    width: 65%;
    height: 100%;
    float: left;
    position: relative;
}

.content-right {
    width: 35%;
    height: 100%;
    float: left;
    /*padding: 2.43rem 2% 0.25rem 0;*/
}

.content-live {
    width: 85%;
    height: 100%;
    float: left;
    margin: 0 1rem;
}

.control-container {
    width: 100%;
}

.start-label {
    box-shadow: inset 0 0 3px 1px #91ffa1;
    background-color: #23bb67 !important;
    color: white !important;
}

.starting-label {
    box-shadow: inset 0 0 3px 1px #98f7a6;
    background-color: #99c3ac !important;
    color: white !important;
}

.stop-label {
    box-shadow: inset 0 0 3px 1px #ff9191;
    background-color: #d61e1e !important;
    color: white !important;
}

.live-wrapper {
    height: calc(100% - 4.25rem);
}

#live-border-special {
    height: 96%;
}


.live_container {
    width: 100%;
    height: 100%;
    position: relative;
}


.max_min_icon {
    height: 100%;
    margin: 0;
    padding: 0;
    float: right;
}


.video_content {
    height: 96%;
    max-height: 96%;
    position: relative;
    margin: auto;
}

.videoOutput {
    height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
}

.overlay {
    position: relative;
    background-color: transparent;
    height: 100%;
}

.detect_box {
    border: solid limegreen 2px;
    position: absolute;
    z-index: 2;
}

.full_screen {
    float: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 3;
}

.video_bottom {
    position: absolute;
    bottom: -1.7rem;
    width: 100%;
    height: 1.5rem;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
}


#video-info {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    overflow: auto;
    background-color: transparent;
}

.detection-module {
    height: 100%;
    width: 70%;
    float: left;
}

.detection-header {
    height: 4.5rem;
    position: relative;
}

.indicator-module {
    position: absolute;
    top: 0.6rem;
    left: 10rem;
}

.indicator-border {
    width: 2rem;
    height: 1rem;
    margin-left: 5px;
    padding: 2px;
    float: left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.indicator {
    background-color: #264f11;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.indicator.on {
    background-color: #98fd06;
}

.detection-content {
    height: calc(100% - 4.5rem);
    display: none;
    overflow: auto;
    position: relative;
}

.detection-content.on {
    display: block;
}

#detection-detail {
    overflow: initial;
}

#detection-table {
    width: 100%;
}

#detection-table * {
    font-size: 0.8rem;
    font-family: Trebuchet MS, sans-serif;
}

#detection-table thead {
    border-bottom: 2px solid #094560;
    color: #8696a3;
    padding: 0 0.5rem;
}


#detection-table td {
    padding: 0.5rem 0;
}

#detection-table td:nth-child(odd) {
    color: #919595;
}

#detection-table td:nth-child(even) {
    color: #a30309;
}

.live_thumbnail {
    width: 7rem;
    margin: 0;
    padding: 0;
}

#detected_img_container {
    width: 90%;
    height: 20rem;
    display: block;
    margin: 1.5rem auto;
}

#img_col {
    max-width: 100%;
    max-height: 100%;
}

.table-wrapper {
    width: 80%;
    margin: 1.5rem auto;
    display: block;
}

#info_table {
    width: 100%;
}

#info_table * {
    font-size: 0.85rem;
    color: #dce0f3;
    font-family: Trebuchet MS, sans-serif;
    padding: 0.3rem 1rem;
}

#info_table pre {
    padding: 0;
}

#info_table td:nth-child(even) {
    background-image: linear-gradient(rgba(100, 100, 100, 0.5) 1px, transparent 0),
    linear-gradient(90deg, rgba(100, 100, 100, 0.5) 1px, transparent 0);
    background-size: 10px 10px, 10px 10px;
    border: 15px solid black;
}

@media (min-width: 1600px) {
    .content {
        height: 52rem;
    }

    .container {
        width: 1900px;
    }

    .content-left {
        width: 62%;
    }

    .content-live {
        width: 85%;
    }
}
