.content-left {
    width: 50%;
    height: 100%;
    float: left;
}

.content-middle {
    width: 10%;
    height: 100%;
    float: left;
    margin: 0 1%;
}

.content-right {
    width: 37%;
    height: 100%;
    float: left;
    padding: 2.43rem 2% 0.25rem 0;
}

.scan-overlay {
    background-color: rgba(38, 174, 255, 0.5);
    -webkit-box-shadow: 0 10px 20px -5px #00ffd8, inset 0 -35px 20px -30px #00ffd8;
    -moz-box-shadow: 0 10px 20px -5px #00ffd8, inset 0 -35px 20px -30px #00ffd8;
    box-shadow: 0 10px 20px -5px #00ffd8, inset 0 -35px 20px -30px #00ffd8;
    width: 100%;
    height: 10rem;
    position: absolute;
    z-index: 2;
    border-bottom: solid 5px rgba(255, 255, 255, 0.9);
}

.scan-annimation {
    -webkit-animation-name: scan;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: scan;
    -moz-animation-duration: 5000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: scan;
    -ms-animation-duration: 5000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: scan;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#match_button {
    border: none;
    color: #bed0ff;
    font-size: 0.75rem;
    font-family: Trebuchet MS, sans-serif;
    padding: 0.4rem 2rem;
    box-shadow: inset 0 0px 3px 1px #a3b5e1;
    background-color: #5b698c;
}

#info-display {
    height: 95%;
    text-align: center;
    font-family: Trebuchet MS, sans-serif;
    font-size: 1.25rem;
}


#detected_img_container {
    width: 20rem;
    height: 14rem;
}

#img_col {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    width: auto;
}

#info_table {
    width: 100%;
    margin: 0.5rem 0;
}


#info_table td {
    text-align: left;
}

#info_table td:nth-child(odd) {
    width: 30%;
    text-align: right;
}

#info_table * {
    font-size: 0.85rem;
    color: #dce0f3;
    font-family: Trebuchet MS, sans-serif;
    padding: 0.8rem 1rem;
}

#info_table pre {
    padding: 0;
    margin: 0;
    max-height: 4rem;
    overflow: auto;
}


.detection_box {
    width: 8rem;
    height: 100%;
    position: relative;
    float: left;
}

.thumbnail {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    width: auto;
}

.conf-level-container {
    position: absolute;
    background-color: rgba(5, 37, 66, 0.7);
    width: 100%;
    font-size: 0.8rem;
    bottom: 0;
}

@-moz-keyframes scan {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@-webkit-keyframes scan {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@keyframes scan {
    0% {
        height: 0;
    }
    50% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@media (min-width: 1600px) {

    #detected_img_container {
        width: 25rem;
        height: 18rem;
    }

    #info_table * {
        padding: 1.5rem;
    }

}