.content {
    border: solid 1px;
    float: left;
    height: 90vh;
}

.upper {
    width: 100%;
    height: 60vh;
    min-height: 350px;
}

.lower {
    width: 100%;
    height: 285px;
    overflow: auto;
}

.upload {
    width: 60%;
}

.tools {
    width: 10%;
    vertical-align: middle;
    display: inline-flex;
}

.info {
    width: 30%;
}

.match {
    width: 28%;
}

.upload_tools {
    border: none;
    height: 60px;
    width: 100%;
}

#custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: 11px;
    width: 140px;
}

#upload_button_div {
    width: 140px;
    margin: auto;
}

.upload_image {
    border: solid 1px;
    border-color: rgb(255, 255, 255) transparent transparent transparent;
    height: 50vh;
    width: 100%;
    display: inline-flex;
    vertical-align: middle;
}

#snap_image {
    max-width: 100%;
    max-height: 50vh;
    margin: 0 auto auto auto;
}


#match_button {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#info_header {
    width: 150px;
    margin: 20px auto;
    font-size: 30px;
}

#info_table {
    width: 90%;
    margin: 20px auto;
    font-size: 14px;
}


#info_table tbody * {
    vertical-align: top;
    text-align: left;
}

#info_table td, #info_table th {
    padding: 8px;
}


#info_table td {
    min-height: 50px;
}

#customers th {
    width: 30%;
    padding-top: 12px;
    padding-bottom: 12px;
}

@media (max-height: 650px) {
    .upload_image {
        max-height: 45vh;
    }

    #snap_image {
        max-height: 45vh;
    }
}

@media (max-height: 450px) {
    .upload_image {
        max-height: 40vh;
    }

    #snap_image {
        max-height: 40vh;
    }
}

@media (max-height: 320px) {
    .upload_image {
        max-height: 35vh;
    }

    #snap_image {
        max-height: 35vh;
    }
}

.max_content_width {
    width: max-content;
}

.detection_box {
    height: 260px;
    width: 250px;
    margin: 20px 0 0 20px;
    display: inline-block;
    float: left;
}

.detection_img {
    height: 60%;
}

.detection_info {
    height: 35%;
}

.thumbnail {
    max-width: 100%;
    max-height: 100%;
}